@import "/src/styles/variables";

a,
ul {
  all: unset;
}

a {
  cursor: pointer;
}

h5,
h6 {
  margin: 0;
}

h6 {
  margin-top: 0.5rem;
  color: #a1a1a1;
}

.book-list {
  display: grid;
  gap: 2rem;
  justify-content: center;
  @media (min-width: 640px) {
    grid-template-columns: repeat(auto-fill, 275px);
  }
}
